@import "variables";
@import "margins";

paper-fab {

  background-color: $button;

  &.bottom-fixed {
    bottom: $action-button-padding;
    position: fixed;
    right: $action-button-padding;
  }

  core-icon {
    color: $white;
  }
}