a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87); }

.inverse a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87); }

h1 {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h1.inverse {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white; }

h2 {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h2.inverse {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: white; }

h3 {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h3.inverse {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: white; }

h4 {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h4.inverse {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: white; }

.headline {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.headline.inverse {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.title {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.title.inverse {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.subhead {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.subhead.inverse {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body2 {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body2.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body1.inverse {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.caption {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

.caption.inverse {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.54); }

.menu {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.menu.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.button {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.button.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.link {
  text-decoration: none;
  color: rgba(0, 126, 158, 0.87); }

core-icon {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 2em; }
  core-icon.inactive {
    color: rgba(0, 0, 0, 0.26); }
  core-icon.active-inverse {
    color: white; }
  core-icon.inactive-inverse {
    color: rgba(255, 255, 255, 0.3); }

.single-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .single-line-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .single-line-list .list-item {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Roboto regular";
    font-size: 1em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.87); }
    .single-line-list .list-item .content {
      padding-top: 16px;
      padding-bottom: 20px;
      margin-right: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .single-line-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .single-line-list .list-item:last-child {
      padding-bottom: 28px; }

.single-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .single-line-icon-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .single-line-icon-list .list-item {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Roboto regular";
    font-size: 1em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.87); }
    .single-line-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .single-line-icon-list .list-item:last-child {
      padding-bottom: 32px; }
    .single-line-icon-list .list-item .avatar {
      margin-top: 5.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%; }
    .single-line-icon-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 24px;
      margin-left: 56px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .single-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      float: right; }

.two-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .two-line-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .two-line-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .two-line-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px; }
      .two-line-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .two-line-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .two-line-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .two-line-list .list-item:last-child {
      padding-bottom: 28px; }

.two-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .two-line-icon-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .two-line-icon-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .two-line-icon-list .list-item .avatar {
      margin-top: 13.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%; }
    .two-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -52px;
      float: right; }
    .two-line-icon-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 56px; }
      .two-line-icon-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .two-line-icon-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .two-line-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .two-line-icon-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .three-line-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px; }
      .three-line-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-list .list-item .content .line3 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .three-line-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-text-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-text-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .three-line-text-list .list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 88px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-text-list .list-item .content {
      height: 48px;
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .three-line-text-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-text-list .list-item .content .text {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54); }
    .three-line-text-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-text-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-icon-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .three-line-icon-list .list-item {
    height: 88px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-icon-list .list-item .avatar {
      margin-top: 21.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%;
      margin-top: 16px; }
    .three-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -72px;
      float: right; }
    .three-line-icon-list .list-item .content {
      padding-top: 16px;
      padding-bottom: 20px;
      margin-left: 56px; }
      .three-line-icon-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-icon-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-icon-list .list-item .content .line3 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .three-line-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-icon-list .list-item:last-child {
      padding-bottom: 32px; }

.three-line-text-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-text-icon-list .gap {
    padding: 0;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0; }
  .three-line-text-icon-list .list-item {
    height: 88px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .three-line-text-icon-list .list-item .avatar {
      margin-top: 21.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%;
      margin-top: 16px; }
    .three-line-text-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -72px;
      float: right; }
    .three-line-text-icon-list .list-item .content {
      height: 48px;
      margin-left: 56px;
      margin-right: 16px;
      margin-top: 16px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .three-line-text-icon-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-text-icon-list .list-item .content .text {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54); }
    .three-line-text-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-text-icon-list .list-item:last-child {
      padding-bottom: 28px; }

paper-fab {
  background-color: #2874d7; }

.card {
  display: block;
  border-radius: 2px;
  box-sizing: border-box;
  height: auto;
  background: white;
  width: 320px;
  margin: 16px auto; }
  .card .cardSection {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 16px;
    display: block; }

:host,
:host *,
::content * {
  box-sizing: border-box;
  outline: none; }

paper-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); }
  paper-tabs::shadow #selectionBar {
    background-color: #8db800; }
  paper-tabs paper-tab .tabTitleNumber {
    margin-bottom: 4px; }
  paper-tabs paper-tab::shadow #ink {
    color: #8db800; }

.listItemSection.listItemTitle {
  padding-bottom: 16px; }
.listItemSection.listItemAuthor {
  font-style: italic;
  padding-bottom: 16px; }
.listItemSection.listItemType {
  color: #7b0c9d;
  font-style: italic; }
.listItemSection.listItemNotes {
  font-style: italic;
  padding-bottom: 16px; }

.listItemLink core-icon {
  margin-right: 0px; }
