@import "../uqlibrary-elements/resources/theme/element";

:host {
}

.booking-room-header {
  background-color: $uq-fbs-room-header-bg;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 150px;

  & h2 {
    color: $uq-fbs-room-title-color;
    font-weight: normal;
    line-height: 1;
    background-color: $uq-fbs-room-title-bg;
    padding: 5px 0 5px 40px;
  }
}

.booking-room-summary {
  padding: 10px 40px;
}

.booking-room-hint {
  padding: 0px 40px;
  font-size: 13px;
  line-height: 20px;


  & .hint-box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid $grey-A200;
    vertical-align: middle;

    &.selected {
      background-color: $fbs-selected-time;
    }

    &.available {
      background-color: $fbs-available-time;
    }

    &.unavailable {
      background-color: $fbs-unavailable-time;
    }

  }
}

paper-fab {
  &.action{
    background-color: $green;
//    position: fixed;
//    bottom: 20px;
//    right: 20px;
  }

}


