@import "../uqlibrary-elements/resources/theme/variables";
@import "../uqlibrary-elements/resources/theme/margins";

.open-below {
  top: $toolbar-height;
}
#apps {
//  min-width: ($base-unit*40);
  margin: $menu-margin;
}
.app {
  text-align: center;
  margin: $base-unit ($base-unit/4);
}