@import "variables";
@import "margins";

paper-fab {
  transition: $shadow-transition,$background-transition;
  background-color: $button;
  &:hover {
    transition: $shadow-transition,$background-transition;
    background-color: $uq-aqua-600;
    box-shadow: $shadow;
  }
  &.bottom-fixed {
    bottom: $action-button-padding;
    position: fixed;
    right: $action-button-padding;
  }

  core-icon {
    color: $white;
  }
}

paper-button.colored {
  transition: $shadow-transition,$background-transition;
  color: $button;
  &:hover {
    transition: $shadow-transition,$background-transition;
    background-color: $uq-aqua-600;
  }
}

paper-button[raised].colored {
  transition: $shadow-transition,$background-transition;
  background: $button;
  color: $background-secondary;
  &:hover {
    transition: $shadow-transition,$background-transition;
    background-color: $button-hover;
    box-shadow: $shadow;
  }
  &:active {
    transition: $shadow-transition,$background-transition;
    background-color: $button-click;
    box-shadow: $shadow;
  }
  &:disabled {
    transition: $shadow-transition,$background-transition;
    color: $uq-divider;
  }
}

paper-button[raised] {
  transition: $shadow-transition;
  &:hover {
    transition: $shadow-transition;
    box-shadow: $shadow;
  }
}

paper-button[disabled] {
  background-color: $background-primary;
  color: $uq-divider;
  &.colored {
    background-color: $background-primary;
    color: $uq-divider;
  }
}

paper-icon-button {
  transition: $background-transition;
  border-radius: 50%;
}