@import "variables";
@import "margins";

paper-fab {
  transition: $shadow-transition,$background-transition;
  background-color: $button;
  &:hover {
    transition: $shadow-transition,$background-transition;
    background-color: $uq-aqua-600;
    box-shadow: $shadow-z-2;
  }
  &.bottom-fixed {
    bottom: $action-button-padding;
    position: fixed;
    right: $action-button-padding;
  }

  core-icon {
    color: $white;
  }
}

paper-button {
  transition: $background-transition;
  &:hover {
    transition: $background-transition;
    background-color: $background-primary;
  }
  &.colored {
    color: $button;
  }
}

paper-button[autofocus] {
    color: $button !important;
}

paper-button {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .colored {
    &:hover {
      background: $background-primary !important;
    }
  }
}

paper-button[raised] {
  transition: $shadow-transition;
  .colored {
    transition: $shadow-transition, $background-transition;
    background: $button;
    color: $background-secondary;
    &:hover {
      transition: $shadow-transition, $background-transition;
      background-color: $button-hover;
      box-shadow: $shadow-z-2;
    }
    &:active {
      transition: $shadow-transition, $background-transition;
      background-color: $button-click;
      box-shadow: $shadow-z-2;
    }
    &:disabled {
      transition: $shadow-transition, $background-transition;
      color: $uq-divider;
    }
  }
}

paper-button[disabled] {
  background-color: $background-primary;
  color: $uq-divider;
  &.colored {
    background-color: $background-primary;
    color: $uq-divider;
  }
}

paper-icon-button {
  transition: $background-transition;
  border-radius: 50%;
}