@import "variables";

core-icon {
  color: $active-icon;

  &.inactive {
    color: $inactive-icon;
  }
  &.active-inverse {
    color: $active-icon-inverse;
  }
  &.inactive-inverse {
    color: $inactive-icon-inverse;
  }
}

core-menu {
  margin: 0;
  core-icon {
    margin-right: 2em;
  }
}

core-toolbar {
  background-color: $white;

  core-icon {
    color: $white;
  }
}

core-drawer-panel {
  background-color: $background-primary;
}

core-header-panel {
  background-color: $white;
}

core-toolbar {
  background-color: $dark-primary;
  color: $text-inverse;
}
#drawer {
  background-color: $background-primary;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

core-menu {
  margin: 0;
}

paper-progress {
  #activeProgress {
    background-color: $dark-accent;
  }
}

paper-tabs {
  //height: 64px;
  color: $text;
  background-color: $white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  &::shadow #selectionBar {
    background-color: $accent;
  }
  paper-tab {
    .tabTitleNumber {
      margin-bottom: 4px;
    }

    &::shadow #ink {
      color: $accent;
    }

  }
}

.home-icon {
  width: 44px;
  height: 44px;
  color: $primary;
}

#masquerade-icon {
  color: $uq-warm-red;
}