@import "variables";
@import "margins";

// Flint

uqlibrary-flint {
  /deep/ li {
    padding-bottom: 16px;
//    transition: $main-transition;
    &:hover, &:focus, &:active {
//      transition: $main-transition;
      cursor: pointer;
      background-color: $item-hover;
    }
  }
  /deep/ .list-item.header {
    &:hover, &:focus, &:active {
      background-color: transparent;
      cursor: text;
    }
  }
  /deep/ .three-line-icon-list .list-item {
//    transition: $main-transition;
    transition: transform 100ms ease-in;
  }
  /deep/ .three-line-icon-list .list-item.expanded, .list-item.header {
//    transition: $main-transition;
    transition: transform 100ms ease-in;
    &:hover, &:focus, &:active {
      background-color: transparent;
      cursor: text;
    }
  }
  /deep/ #search {
    transition: $main-transition;
  }
  /deep/ .iconSlide {
    transition: $main-transition;
    opacity: 0;
    transform: translate(-600px, 0);
  }
  /deep/ .cancelIconSlide {
    transition: $main-transition;
    opacity: 0;
    transform: translate(1000px, 0);
  }
  /deep/ .slideIn {
    transition: $main-transition;
    opacity: 1;
    transform: translate(0, 0);
  }
  /deep/ #toolbar-page-title {
    transition: $main-transition;
  }
  /deep/ paper-icon-button {
    transition: $main-transition;
    &:hover {
      background-color: $divider-inverse;
    }
  }
  /deep/ paper-input-decorator {
    transform: translate(1000px, 0);
    opacity: 0;
    transition: 300ms ease-in-out;
    background-image: url('http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_search_wht_24dp_r1.png');
    background-repeat: no-repeat;
    background-position: 16px 8px;
    background-size: 24px;
    margin: 0;
    font-size: 16px;
    padding: 3px 8px 3px 64px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: #fafafa;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &::shadow #focusedUnderline {
      background-color: transparent !important;
    }

    /deep/ ::-webkit-input-placeholder {
      /* platform specific rules for placeholder text */
      color: white;
    }
    /deep/ ::-moz-placeholder {
      color: white;
    }
    /deep/ :-ms-input-placeholder {
      color: white;
    }

    /deep/ .unfocused-underline {
      /* line color when the input is unfocused */
      background-color: transparent;
    }
  }
  /deep/ [drawer] {
    background-color: #fafafa;
    box-shadow: $shadow-z-1;
    //  border-right: 1px solid #ccc;
    /deep/ .uq-library-header-logo {
      color: #fff;
      margin: 12px 0 0 16px;
      float: right;
      transition: $shadow-transition;
      @media (max-width: 767px) {
        display: none;
      }
      &:hover, &:active, &:focus {
        color: #fff;
        text-decoration: none;
        -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
        transition: $shadow-transition;
      }
    }
    /deep/ #main-logo {
      height: 40px;
      border-right: 1px solid white;
      padding: 4px 18px 3px 0;
      transition: $main-transition;
      &:hover {
        -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
        transition: $main-transition;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    /deep/ #mini-logo {
      display: none;
      height: 36px;
      border-right: 1px solid white;
      margin-top: 10px;
      padding: 2px 18px 2px 19px;
      transition: $main-transition;
      &:hover {
        -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
        transition: $main-transition;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
    /deep/ .uq-library-header-logo-mini {
      color: #fff;
      margin-left: 12px;
      float: right;
      transition: $shadow-transition;
      &:hover, &:active, &:focus {
        color: #fff;
        text-decoration: none;
        -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
        transition: $shadow-transition;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.flint-item-info {
  height: 112px;
  background-color: $background-primary;
  h2 {
    white-space: normal;
    margin-left: 12px;
  }
}
.flint-header-icon {
  margin-left: 10px;
  width: 44px;
  height: 44px;
}
.flint-responsive-menu-icon {
  @media (min-width: 1500px) {
    display: none;
  }
}
.flint-responsive-menu-toggle-icon {
  @media (min-width: 750px) {
    display: none;
  }
}
paper-icon-button::shadow {
  padding: 0;
}
/deep/ .glow {
  cursor: pointer;
  transition: $main-transition;
  &:hover {
    -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
    transition: $main-transition;
  }
}