@import "variables";
@import "margins";

// Flint-specific styles

uqlibrary-flint {
  /deep/ {
    paper-action-dialog {
      border-radius: 2px;
      max-width: 500px;
    }
    paper-tabs {
      z-index: 1;
    }
    core-drawer-panel {
      background-color: white;
      /deep/ .main {
        background-color: white;
        z-index: 0;
      }
    }
    .gm-style-iw {
      cursor: pointer;
    }
    #infoSection {
      ul li {
        padding-left: 8px;
        .avatar {
          white-space: nowrap;
          core-icon {
            width: 32px;
            height: 32px;
          }
        }
        .content {
          margin-left: 0;
          padding-bottom: 0;
          div {
            white-space: normal;
            text-overflow: initial;
          }
        }
      }
    }
    #feedbackButton {
      margin-bottom: 12px;
    }
    core-list li {
      background-color: white;
      &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: $item-hover;
      }
      .avatar {
        margin-left: 16px;
        paper-icon-button {
          &:hover, &:focus, &:active {
            background-color: $paper-hover;
          }
        }
        .audio-holder {
          /deep/ .playerButton {
            padding: 0;
          }
        }
      }
      #closeButton {
        margin-right: 16px;
      }
    }
    .list-item.header {
      background-color: transparent;
      padding-bottom: 12px;
      &:hover, &:focus, &:active {
        background-color: transparent;
        cursor: default;
      }
    }
    .three-line-icon-list .list-item {
      padding-left: 0;
      padding-right: 0;
      transition: transform 100ms ease-in;
      .content {
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    .three-line-icon-list .list-item.expanded {
      padding-left: 16px;
      transition: transform 100ms ease-in;
      &:hover, &:focus, &:active {
        background-color: white;
        cursor: text;
      }
    }
    #itemDetailsCollapse {
      padding-left: 72px;
      padding-right: 16px;
    }
    #playButton {
      padding: 0;
    }
    paper-icon-button {
      transition: $main-transition;
      &[focused], &:hover, &:focus, &:active {
        background-color: $paper-hover;
      }
    }
    paper-icon {
      transition: $main-transition;
      &[focused], &:hover, &:focus, &:active {
        background-color: $paper-hover;
      }
    }
    paper-slider {
      transition: $main-transition;
      &:focus{
        background-color: $paper-hover;
        &::shadow {
          #sliderContainer.ring {
            #sliderKnobInner, #sliderKnobInner::before {
              background-color: $inactive-icon;
              border-color: $inactive-icon;
            }
          }
          #sliderBar{
            &::shadow {
              #progressContainer {
                background-color: $inactive-icon;
              }
              #progressContainer {
                background-color: $inactive-icon;
              }
            }
          }
        }
      }
    }

    #headerPlayerMirrorWrapper {
      position: absolute;
      right: -10px;
      top: 112px;
      z-index: 99999;
      width: 70px;
      background-color: $grey-A200;
      x-audio-mirror {
        &::shadow {
          paper-slider {
            display:none;
          }
          .volume {
            min-width: 40px;
          }
          paper-icon-button {
            &::shadow {
              core-icon {
                color: $secondary-text !important;
                width: 24px !important;
                height: 24px !important;
              }
            }
            &:hover, &:active, &:focus {
              transition: $main-transition;
              background-color: $divider-inverse;
            }
          };
        }

      }

      &.ios {
        width: 45px;
      }

    }

    .playerButton {
      &::shadow {
        core-icon {
          color: $secondary-text;
          width: 44px;
          height: 44px;
        }
      }
      &:hover, &:active, &:focus {
        transition: $main-transition;
        background-color: $divider-inverse;
      }
    }

    .currentlyPlayingTitle {
      @include gmd-type-style(caption, gmd-alpha-color($black, secondary-text));
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 $list-item-gap;
    }
    #itemSection {
      background: white;
      /deep/ .playerButton {
        padding: 0;
      }
    }

    #activePlayerWrapper {
      background: $background-primary;
      height: 83px;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid $divider;
      div {
        margin: 3px;
      }
    }
    [drawer] {
      background-color: $background-primary;
      box-shadow: $shadow-z-1;
      /deep/ {
        .glow {
          color: white;
          cursor: pointer;
          transition: $main-transition;
          &:hover, &:focus, &:active {
            text-decoration: none;
            -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
            transition: $main-transition;
          }
        }
        #uq-logo {
          height: 36px;
          border-right: 1px solid white;
          margin-right: 10px;
          padding-right: 10px;
          @media (max-width: $responsive-width) {
            display: none;
          }
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: none;
          }
        }
        #uq-logo-text {
          border-right: 1px solid white;
          margin-right: 10px;
          padding-right: 14px;
          @media (min-width: ($responsive-width + 1)) {
            display: none;
          }
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: inline;
          }
        }
        #uq-library-logo-text {
          @media (min-width: ($responsive-width + 1)) {
            vertical-align: super;
          }
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.flint-responsive-menu-icon {
  @media (min-width: ($responsive-width*2)) {
    display: none;
  }
}
.flint-responsive-menu-toggle-icon {
  @media (min-width: ($responsive-width + 1)) {
    display: none;
  }
}
.flint-item-info {
  height: 112px;
  background-color: $background-primary;
  h2 {
    white-space: normal;
    margin-left: 12px;
  }
}
.flint-header-icon {
  margin-left: 10px;
  width: 44px;
  height: 44px;
}
html /deep/ div.gmnoscreen {
  display: none;
}