@import "variables";

paper-input-decorator::shadow .focused-underline {
  background-color: $uq-aqua;
}
paper-input-decorator /deep/ .focused-underline {
  background-color: $uq-aqua;
}
paper-checkbox::shadow #ink[checked] {
  color: $uq-aqua;
}
paper-checkbox::shadow #checkbox.checked {
  border-color: $uq-aqua;
  background-color: $uq-aqua;
}
paper-checkbox::shadow #ink {
  color: $uq-divider;
}
paper-checkbox::shadow #checkbox {
  border-color: $uq-divider;
}

paper-autogrow-textarea {
  min-height: $text-padding;
}