@import "variables";
@import "margins";



//   _   _
//  | | | | ___  _ __ ___   ___
//  | |_| |/ _ \| '_ ` _ \ / _ \
//  |  _  | (_) | | | | | |  __/
//  |_| |_|\___/|_| |_| |_|\___|
//
// My Library home

// UQ My Library Home screen main app icons
// TODO: investigate using more interesting launcher interaction such as live tiles (e.g. see Topeka app)
.home-icon {
  width: $touch-target-size;
  height: $touch-target-size;
  color: $primary;
  padding: 0;
}

// TODO: investigate whether this is necessary - .icon-button doesn't seem to be used anywhere?
/* Icon Button */
.icon-button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  &:core-icon {
    margin: 16px;
    transition: -webkit-transform $transition-duration $transition-function;
    transition: transform $transition-duration $transition-function;
  }
  &:hover {
    &:core-icon {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}


paper-icon-button.huge::shadow #icon {
  width: $touch-target-size;
  height: $touch-target-size;
}
uqlibrary-home paper-icon-button.huge #icon {
  color: $primary;
}
.iconLabel {
  margin: 0;
  text-align: center;
  color: $secondary-text;
  font-size: $body2-size-font-desktop;
}

#masquerade {
  margin: 16px;
}
#booking {
  margin: 16px;
}
#homePage {
  text-align: -moz-center;
}
#apps {
  margin-left: 12px;
  margin-top: -8px;
}
.app {
  width: 90px;
  height: 72px;
  margin: 6px 2px;
  padding-top: 4px;
  padding-bottom: 90px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  paper-button {
    height: 90px;
    &:hover {
      background: none;
    }
  }
  [focused], &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none
  }
  .iconLabel {
    margin-top: -28px;
    text-transform: capitalize;
  }
}