@import "variables";
@import "margins";



//   _   _
//  | | | | ___  _   _ _ __ ___
//  | |_| |/ _ \| | | | '__/ __|
//  |  _  | (_) | |_| | |  \__ \
//  |_| |_|\___/ \__,_|_|  |___/
//
// Library opening hours
.open {
  color: $dark-accent !important;
}
.closed {
  color: $uq-warm-red !important;
}
.list-margin {
  margin-bottom: 38px;
}


paper-tabs {
  color: $text;
  background-color: $white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  &::shadow #selectionBar {
    background-color: $accent;
  }
  paper-tab {
    .tabTitleNumber {
      margin-bottom: 4px;
    }
    &::shadow #ink {
      color: $accent;
    }
    & .dayOfWeek {
      width: 40px;
    }
    & .date {
      height: 40px;
      width: 40px;
      font-size: $subhead-size-font-device;
      text-align: center;
      border-radius: 50%;
      padding-top: 12px;
    }
    &.core-selected .date {
      background-color: $fbs-selected-date;
      color: $white;
    }
  }
}