//MD specifies margins in dp
//dp to px conversion is based on mdpi http://labs.rampinteractive.co.uk/android_dp_px_calculator/

$dpi: 160;
$dp2px: 160;

//core navigation drawer
$nav-drawer-icon: -3px;
// (MD spec says this should be 16px - currently -3px because there's already a margin)
//$nav-drawer-icon: 16px;
// (MD spec says this should be 72px from the left side - using 28px so it will add up to 72px total)
$nav-drawer-text: 28px;

//common padding
$list-item-gap: 8px * ($dpi / $dp2px);
$list-avatar-size: 45px * ($dpi / $dp2px);
$list-icon-size: 28px * ($dpi / $dp2px);

//single line list item
$single-line-list-item-height: 48px * ($dpi / $dp2px);
$single-line-list-item-padding-top: 16px * ($dpi / $dp2px);
$single-line-list-item-padding-bottom: 20px * ($dpi / $dp2px);
$single-line-list-item-padding-right: 16px * ($dpi / $dp2px);
$single-line-list-item-padding-left: 16px * ($dpi / $dp2px);

//single line list item with icon/avatar on left and icon on right
$single-line-list-icon-item-height: 56px * ($dpi / $dp2px);
$single-line-list-icon-item-icon-padding-left: 16px * ($dpi / $dp2px);
$single-line-list-icon-item-text-padding-left: 72px * ($dpi / $dp2px);
$single-line-list-icon-item-padding-top: 20px * ($dpi / $dp2px);
$single-line-list-icon-item-padding-bottom: 24px * ($dpi / $dp2px);
$single-line-list-right-icon-padding: 16px * ($dpi / $dp2px);

//two-line list item
$two-line-list-item-height: 72px * ($dpi / $dp2px);
$two-line-list-item-padding-top: 20px * ($dpi / $dp2px);
$two-line-list-item-padding-bottom: 20px * ($dpi / $dp2px);
$two-line-list-item-padding-right: 16px * ($dpi / $dp2px);
$two-line-list-item-padding-left: 16px * ($dpi / $dp2px);

//two-line list item with icon/avatar on left and icon on right
$two-line-list-icon-item-height: 72px * ($dpi / $dp2px);
$two-line-list-icon-item-icon-padding-left: 16px * ($dpi / $dp2px);
$two-line-list-icon-item-text-padding-left: 72px * ($dpi / $dp2px);
$two-line-list-icon-item-padding-top: 20px * ($dpi / $dp2px);
$two-line-list-icon-item-padding-bottom: 20px * ($dpi / $dp2px);
$two-line-list-right-icon-padding: 16px * ($dpi / $dp2px);

//three-line list item
$three-line-list-item-height: 88px * ($dpi / $dp2px);
$three-line-list-item-padding-top: 20px * ($dpi / $dp2px);
$three-line-list-item-padding-bottom: 20px * ($dpi / $dp2px);
$three-line-list-item-padding-right: 16px * ($dpi / $dp2px);
$three-line-list-item-padding-left: 16px * ($dpi / $dp2px);

//three-line list item with icon/avatar on left and icon on right
$three-line-list-icon-item-height: 88px * ($dpi / $dp2px);
$three-line-list-icon-item-icon-padding-left: 16px * ($dpi / $dp2px);
$three-line-list-icon-item-text-padding-left: 72px * ($dpi / $dp2px);
$three-line-list-icon-item-padding-top: 16px * ($dpi / $dp2px);
$three-line-list-icon-item-padding-bottom: 20px * ($dpi / $dp2px);
$three-line-list-right-icon-padding: 16px * ($dpi / $dp2px);

//card
$card-margin: 16px * ($dpi / $dp2px);
$card-title-padding: 16px * ($dpi / $dp2px);

//text containers
$text-padding: 16px * ($dpi / $dp2px);
$image-header-top-padding: 150px * ($dpi / $dp2px);

//persistent footer
$persistent-footer-height: 48px * ($dpi / $dp2px);
$persistent-footer-padding: 16px * ($dpi / $dp2px);

//paper fab action buttons
$action-button-padding: 16px * ($dpi / $dp2px);

//form with icon padding
$form-icon-size: 24px;
$form-padding: 16px * ($dpi / $dp2px);
$form-icon-padding-left: 72px * ($dpi / $dp2px);
