@import "variables";

// uqlibrary-toolbar specific styles

uqlibrary-toolbar {
/deep/ {
  * {
    transition: $main-transition;
  }
  .turnWhite {
    background: white;
  }
  core-toolbar {
    background: $dark-primary;
    color: white;
    #hamburgerMenuIcon {
      @media (min-width: $responsive-width) {
        display: none;
      }
    }
    paper-icon-button {
      margin-top: 3px;
      color: white;
      border-radius: 50%;
      &:hover, &:focus, &:active {
        background-color: $divider-inverse;
      }
    }
    .applicationName {
      color: white;
      text-decoration: none;
    }
    .glow {
      color: white;
      cursor: pointer;
      &:hover, &:focus, &:active {
        text-decoration: none;
        -webkit-filter: $glow-shadow;
      }
    }
    paper-dropdown core-menu {
      margin: 2px;
      paper-item {
        font-size: 14px;
        transition: none;
        &:hover, &:focus {
          background-color: $item-hover;
          transition: none;
        }
        a {
          font-size: 16px;
          cursor: pointer;
          color: $uq-text-primary;
          display: block;
          text-decoration: none;
        }
      }
    }
    .invisible {
      opacity: 0;
    }
    #leftFlex, #rightFlex, #backArrow {
      paper-icon-button {
        color: $uq-text-secondary;
        &:hover, &:active, &:focus {
          border-radius: 50%;
          background-color: $item-hover;
        }
        core-icon {
          color: $uq-text-primary;
        }
      }
    }

    paper-input-decorator {
      color: $uq-text-primary;
      margin-bottom: 4px;

      &::shadow #focusedUnderline {
        background-color: transparent !important;
      }
      /deep/ {
        ::-webkit-input-placeholder {
          /* platform specific rules for placeholder text */
          color: $hint-text;
          padding-top: 5px;
        }
        ::-moz-placeholder {
          color: $hint-text;
          padding-top: 4px;
        }
        :-ms-input-placeholder {
          color: $hint-text;
          padding-top: 4px;
        }
        .unfocused-underline {
          /* line color when the input is unfocused */
          background-color: transparent;
        }
      }
    }
  }
}
}