@import "variables";

$_gmd-type-styles: (
        display4: (
                font-family: "Roboto",
                font-weight: 300,
                font-size: $display4-size-font,
                line-height: 1.1em,
                white-space: nowrap,
                text-overflow: ellipsis,
        ),
        display3: (
                font-family: "Roboto",
                font-weight: 400,
                font-size: $display3-size-font,
                white-space: nowrap,
                line-height: 1.1em,
                text-overflow: ellipsis,
        ),
        display2: (
                font-family: "Roboto",
                font-weight: 400,
                font-size: $display2-size-font,
                line-height: 1.1em,
        ),
        display1: (
                font-family: "Roboto",
                font-weight: 400,
                font-size: $display1-size-font,
                line-height: 1.1em,
        ),
        headline: (
                font-family: "Roboto",
                font-weight: 400,
                font-size: $headline-size-font,
                line-height: 1.1em,
        ),
        title: (
                font-family: "Roboto",
                font-weight: 500,
                font-size: $title-size-font,
                line-height: 1.1em,
                white-space: normal,
        ),
        subhead: (
                font-family: "Roboto",
                font-weight: 400,
                font-size: $subhead-size-font-device,
                line-height: 1.1em,
        ),
        body2: (
                font-family: "Roboto",
                font-weight: 500,
                font-size: $body2-size-font-device,
                line-height: 1.1em,

        ),
        body1: (
                font-family: "Roboto",
                font-weight: 400,
                font-size: $body1-size-font-device,
                line-height: 1.1em,
        ),

        caption: (
                font-family: "Roboto",
                font-weight: 400,
                font-size: $caption-size-font,
                line-height: 1.1em,
        ),
        list-title: (
                font-family: "Roboto",
                font-weight: 700,
                font-size: $caption-size-font,
                line-height: 1.1em,
        ),
        menu: (
                font-family: "Roboto",
                font-weight: 500,
                font-size: $body1-size-font-device,
                color: $text,
                line-height: 1.1em,
        ),
        button: (
                font-family: "Roboto",
                font-weight: 500,
                font-size: $button-size-font,
                text-transform: uppercase,
                color: $text,
                line-height: 1.1em,
        ),
        link: (
                text-decoration: none,
        )
);

@mixin gmd-type-style($type, $color) {

  $style: map-get($_gmd-type-styles, $type);
  @each $property, $value in $style {
    #{$property}: $value;
  }
  color: $color;
}


a {
  @include gmd-type-style(link, gmd-alpha-color($uq-aqua, opaque));
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.inverse a {
  @include gmd-type-style(link, gmd-alpha-color($white, opaque));
}

h1 {
  @include gmd-type-style(display4, gmd-alpha-color($black, secondary-text));
}

h1.inverse {
  @include gmd-type-style(display4, gmd-alpha-color($white, opaque));
}

h2 {
  @include gmd-type-style(display3, gmd-alpha-color($black, secondary-text));
}

h2.inverse {
  @include gmd-type-style(display3, gmd-alpha-color($white, opaque));
}

h3 {
  @include gmd-type-style(display2, gmd-alpha-color($black, secondary-text));
}

h3.inverse {
  @include gmd-type-style(display2, gmd-alpha-color($white, opaque));
}

h4 {
  @include gmd-type-style(display1, gmd-alpha-color($black, secondary-text));
}

h4.inverse {
  @include gmd-type-style(display1, gmd-alpha-color($white, opaque));
}

.headline {
  @include gmd-type-style(headline, gmd-alpha-color($black, text));
}

.headline.inverse {
  @include gmd-type-style(headline, gmd-alpha-color($white, text));
}

.title {
  @include gmd-type-style(title, gmd-alpha-color($black, text));
}

.title.inverse {
  @include gmd-type-style(title, gmd-alpha-color($white, text));
}

.subhead {
  @include gmd-type-style(subhead, gmd-alpha-color($black, text));
}

.subhead.inverse {
  @include gmd-type-style(subhead, gmd-alpha-color($white, text));
}

.body2 {
  @include gmd-type-style(body2, gmd-alpha-color($black, text));
}

.body2.inverse {
  @include gmd-type-style(body2, gmd-alpha-color($white, text));
}

.body1 {
  @include gmd-type-style(body1, gmd-alpha-color($black, text));
}

.body1.inverse {
  @include gmd-type-style(body1, gmd-alpha-color($white, text));
}

.caption {
  @include gmd-type-style(caption, gmd-alpha-color($black, secondary-text));
}

.caption.inverse {
  @include gmd-type-style(caption, gmd-alpha-color($white, secondary-text));
}

.menu {
  @include gmd-type-style(menu, gmd-alpha-color($black, text));
}

.menu.inverse {
  @include gmd-type-style(menu, gmd-alpha-color($white, text));
}

.button {
  @include gmd-type-style(button, gmd-alpha-color($black, text));
}

.button.inverse {
  @include gmd-type-style(button, gmd-alpha-color($white, text));
}

.link {
  @include gmd-type-style(link, gmd-alpha-color($link, text));
}