@font-face {
  font-family: 'Roboto light';
  font-style: normal;
  font-weight: 200;
  src: url("Roboto-Light.woff") format("woff"); }
@font-face {
  font-family: 'Roboto regular';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto medium';
  font-style: normal;
  font-weight: 500;
  src: url("Roboto-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Roboto bold';
  font-style: normal;
  font-weight: 700;
  src: url("Roboto-Bold.woff") format("woff"); }
a {
  text-decoration: none;
  color: #007e9e; }

.inverse a {
  text-decoration: none;
  color: white; }

h1 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h1.inverse {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white; }

h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h2.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: white; }

h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.4em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h3.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.4em;
  line-height: 1.1em;
  color: white; }

h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.6em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h4.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.6em;
  line-height: 1.1em;
  color: white; }

.headline {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.headline.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.42857em;
  line-height: 1.1em;
  white-space: normal;
  color: rgba(0, 0, 0, 0.87); }

.title.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.42857em;
  line-height: 1.1em;
  white-space: normal;
  color: rgba(255, 255, 255, 0.87); }

.subhead {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.subhead.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body2.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body1.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.caption {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

.caption.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.54); }

.menu {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.menu.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.button.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.link {
  text-decoration: none;
  color: rgba(0, 126, 158, 0.87); }

.single-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .single-line-list .gap {
    padding: 0;
    height: 8px; }
  .single-line-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .single-line-list .list-item {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.87); }
    .single-line-list .list-item .content {
      padding-top: 16px;
      padding-bottom: 20px;
      margin-right: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .single-line-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .single-line-list .list-item:last-child {
      padding-bottom: 28px; }

.single-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .single-line-icon-list .gap {
    padding: 0;
    height: 8px; }
  .single-line-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .single-line-icon-list .list-item {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.87); }
    .single-line-icon-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .single-line-icon-list .list-item:last-child {
      padding-bottom: 32px; }
    .single-line-icon-list .list-item .avatar {
      margin-top: 5.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%; }
    .single-line-icon-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 24px;
      margin-left: 56px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .single-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      float: right; }

.two-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .two-line-list .gap {
    padding: 0;
    height: 8px; }
  .two-line-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .two-line-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .two-line-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px; }
      .two-line-list .list-item .content .line1 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .two-line-list .list-item .content .line2 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .two-line-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .two-line-list .list-item:last-child {
      padding-bottom: 28px; }

.two-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .two-line-icon-list .gap {
    padding: 0;
    height: 8px; }
  .two-line-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .two-line-icon-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .two-line-icon-list .list-item .avatar {
      margin-top: 13.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%; }
    .two-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -52px;
      float: right; }
    .two-line-icon-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 56px; }
      .two-line-icon-list .list-item .content .line1 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .two-line-icon-list .list-item .content .line2 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .two-line-icon-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .two-line-icon-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px; }
      .three-line-list .list-item .content .line1 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-list .list-item .content .line2 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-list .list-item .content .line3 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .three-line-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-text-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-text-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-text-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-text-list .list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 88px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-text-list .list-item .content {
      height: 48px;
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .three-line-text-list .list-item .content .line1 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-text-list .list-item .content .text {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54); }
    .three-line-text-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-text-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-icon-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-icon-list .list-divider.timeline .line:before {
    content: '\2022';
    font-size: 3.1em;
    margin: 0 0 0 -12px;
    vertical-align: middle;
    display: inline-block;
    height: 0px;
    color: #7b0c9d; }
  .three-line-icon-list .list-divider.timeline .line {
    line-height: 0.625em;
    border-bottom: 1px solid #7b0c9d;
    margin: -9px 0 9px 66px; }
  .three-line-icon-list .list-item {
    height: 88px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-icon-list .list-item .avatar {
      margin-top: 21.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%;
      margin-top: 16px; }
    .three-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -72px;
      float: right; }
    .three-line-icon-list .list-item.timeline .date {
      height: 45px;
      width: 45px;
      float: left; }
      .three-line-icon-list .list-item.timeline .date .title, .three-line-icon-list .list-item.timeline .date .headline {
        color: #7b0c9d; }
    .three-line-icon-list .list-item.timeline .content {
      background-color: #EEEEEE;
      border-radius: 2px;
      padding-left: 16px; }
    .three-line-icon-list .list-item .content {
      padding-top: 16px;
      padding-bottom: 20px;
      margin-left: 56px; }
      .three-line-icon-list .list-item .content .line1 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-icon-list .list-item .content .line2 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-icon-list .list-item .content .line3 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .three-line-icon-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-icon-list .list-item:last-child {
      padding-bottom: 32px; }

.three-line-text-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-text-icon-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-text-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-text-icon-list .list-item {
    height: 88px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .three-line-text-icon-list .list-item .avatar {
      margin-top: 21.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%;
      margin-top: 16px; }
    .three-line-text-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -72px;
      float: right; }
    .three-line-text-icon-list .list-item .content {
      height: 48px;
      margin-left: 56px;
      margin-right: 16px;
      margin-top: 16px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .three-line-text-icon-list .list-item .content .line1 {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-text-icon-list .list-item .content .text {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54); }
    .three-line-text-icon-list .list-item.header {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-text-icon-list .list-item:last-child {
      padding-bottom: 28px; }

.card {
  display: block;
  border-radius: 2px;
  box-sizing: border-box;
  height: auto;
  background: #ffffff;
  width: 320px;
  margin: 16px auto; }
  .card .cardSection {
    border-bottom: 1px solid #cccccc;
    padding: 16px;
    display: block; }
    .card .cardSection.noBorder {
      border: 0px; }

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

core-menu {
  margin: 0;
  padding: 8px 0; }
  core-menu core-icon {
    margin: -3px 28px -3px -3px; }
  core-menu.divider {
    border-bottom: 1px solid #cccccc; }

core-icon {
  color: rgba(0, 0, 0, 0.54); }
  core-icon .big-icon {
    height: 40px;
    width: 40px; }
  core-icon.inactive {
    color: rgba(0, 0, 0, 0.26); }
  core-icon.active-inverse {
    color: white; }
  core-icon.inactive-inverse {
    color: rgba(255, 255, 255, 0.3); }

core-toolbar {
  background-color: #4a075f;
  color: rgba(255, 255, 255, 0.87); }
  core-toolbar core-icon {
    color: #ffffff; }

@media screen and (min-width: 768px) {
  .responsiveToolbarButton {
    display: none; } }

core-overlay#timepickerDialog::shadow #actions {
  display: none; }
core-overlay#timepickerDialog::shadow #main {
  padding: 0; }

core-tooltip.fancy::shadow .core-tooltip {
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

core-tooltip.fancy:hover::shadow .core-tooltip,
core-tooltip.fancy:focus::shadow .core-tooltip {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

core-tooltip.fancyLeft::shadow .core-tooltip {
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

core-tooltip.fancyLeft:hover::shadow .core-tooltip,
core-tooltip.fancyLeft:focus::shadow .core-tooltip {
  opacity: 1;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

#loadingOverlay {
  background-color: transparent;
  width: 64px;
  height: 64px; }
  #loadingOverlay paper-spinner::shadow .circle {
    border-color: #7b0c9d; }

paper-checkbox::shadow #checkbox.checked {
  border-color: #007e9e; }

paper-toast#infoToast {
  position: fixed;
  max-width: 280px;
  max-height: 48px; }

paper-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

paper-progress {
  height: 1.14286em;
  width: 100%; }
  paper-progress::shadow #activeProgress {
    background-color: #38852e; }

paper-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); }
  paper-tabs::shadow #selectionBar {
    background-color: #8db800; }
  paper-tabs #finesTab {
    padding: 0 34px; }
  paper-tabs paper-tab .tabTitleNumber {
    margin-bottom: 4px; }
  paper-tabs paper-tab::shadow #ink {
    color: #8db800; }

uqlibrary-filter-group div.groupContentWrapper[horizontal] paper-dropdown-menu {
  min-width: 150px;
  margin-right: 20px; }
  uqlibrary-filter-group div.groupContentWrapper[horizontal] paper-dropdown-menu:last-child {
    margin-right: 0; }
uqlibrary-filter-group:last-child {
  border-bottom: none; }

paper-dropdown {
  font-family: "Roboto", sans-serif !important;
  min-width: 150px; }
  paper-dropdown::shadow #scroller {
    width: 100% !important; }

paper-dropdown-menu {
  display: block;
  width: 100%; }
  paper-dropdown-menu[disabled]::shadow #label, paper-dropdown-menu[disabled]::shadow #arrow, paper-dropdown-menu[disabled]::shadow #ripple {
    color: #BDBDBD; }
  paper-dropdown-menu paper-dropdown paper-item:hover {
    background-color: #F5F5F5; }

paper-input-decorator .mirror-text {
  padding: 0.8em 0 0.25em; }
paper-input-decorator::shadow #focusedUnderline {
  background-color: #007e9e !important; }

paper-input {
  display: block; }
  paper-input::shadow input {
    color: rgba(0, 0, 0, 0.54); }
  paper-input#time {
    display: block;
    width: 100%; }

paper-slider {
  width: 100%; }
  paper-slider::shadow #sliderBar {
    box-sizing: content-box; }
    paper-slider::shadow #sliderBar::shadow #activeProgress {
      background-color: #007e9e; }
  paper-slider::shadow #sliderKnobInner {
    background-color: #007e9e; }
    paper-slider::shadow #sliderKnobInner::before {
      background-color: #007e9e;
      display: block !important; }
  paper-slider#timePeriod {
    width: 50%; }

.sliderWrapper {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 20pt; }
  .sliderWrapper .durationText {
    width: 75px; }

.drawer {
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

core-drawer-panel [drawer] {
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.main {
  background-color: #FAFAFA; }

#account {
  font-size: 0.85714em;
  background-color: #7b0c9d;
  border-bottom: 1px solid #cccccc;
  background: 100%;
  background-size: cover;
  background-image: url("https://app.library.uq.edu.au/assets/images/uq-menu/st-lucia.jpg"); }
  #account #gradient {
    background: -moz-linear-gradient(top, transparent 30%, black 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(100%, black));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 30%, black 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 30%, black 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 30%, black 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 30%, black 100%);
    /* W3C */ }
  #account #details {
    padding: 110px 14px 14px 16px; }
  #account #name {
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #account #mail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #account core-icon {
    color: #FAFAFA;
    height: 24px;
    width: 24px; }

#askLogout, #askLogout::shadow {
  color: #FAFAFA;
  margin-bottom: 8px;
  margin-right: 8px; }

uqlibrary-menu /deep/ [autofocus] {
  color: #007e9e; }

uqlibrary-persistent-footer .footerInfo {
  padding: 12px; }

.persistentFooter {
  position: fixed;
  height: 48px;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #EEEEEE;
  padding: 4px; }
  .persistentFooter .footerInfo {
    padding: 12px; }

@media screen and (min-width: 768px) {
  .persistentFooter {
    left: 0;
    z-index: 1; } }
.event-item {
  transition: opacity 2000ms; }

.event-item-hidden {
  opacity: 0; }

.card {
  background: white;
  box-sizing: border-box;
  width: 300px; }

.home-icon {
  width: 44px;
  height: 44px;
  color: #7b0c9d;
  padding: 0; }

/* Icon Button */
.icon-button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px; }
  .icon-button:core-icon {
    margin: 16px;
    transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .icon-button:hover:core-icon {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

paper-icon-button.huge::shadow #icon {
  width: 44px;
  height: 44px; }

uqlibrary-home paper-icon-button.huge #icon {
  color: #7b0c9d; }

.iconLabel {
  margin: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1em; }

#masquerade {
  margin: 16px; }

#booking {
  margin: 16px; }

.apps {
  margin: 8px 8px 0 34px; }

#homePage {
  text-align: -moz-center; }

.app {
  width: 100px;
  height: 90px;
  text-align: center; }

#search {
  margin-left: 8px; }

#searchInput {
  width: 100%; }

#searchIcon {
  color: #333333; }

#searchWrapper {
  width: 96%;
  height: 54px;
  padding-left: 8px;
  transition: 300ms ease-in-out; }

#filters {
  top: 56px;
  width: 100%;
  left: 0 !important; }
  #filters paper-item {
    padding-left: 0;
    border-bottom: 1px solid #cccccc; }
    #filters paper-item.last {
      border-bottom: none; }
    #filters paper-item.core-selected {
      color: rgba(0, 0, 0, 0.87); }
    #filters paper-item .button-content {
      text-align: left; }

.truncate {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Roboto"; }

.recent {
  color: #4a075f; }

.group-label {
  margin-left: 32px; }

.group-content {
  padding-left: 56px; }

.filterWrapper {
  background-color: #ffffff;
  margin-bottom: 30px; }

md-timepicker::shadow #card {
  border: 1px solid #cccccc;
  margin-top: 0;
  margin-bottom: 0;
  height: 360px;
  width: 225px; }
  md-timepicker::shadow #card #display {
    background-color: #007e9e !important;
    height: 108px;
    padding: 21.6px;
    color: #ffffff;
    font-size: 41.4px; }
    md-timepicker::shadow #card #display .digit {
      opacity: 0.7; }
      md-timepicker::shadow #card #display .digit[active] {
        opacity: 1; }
  md-timepicker::shadow #card #keypad {
    font-size: 37.8px; }
    md-timepicker::shadow #card #keypad .digit {
      flex-basis: 56.7px;
      -webkit-flex-basis: 56.7px; }
md-timepicker::shadow paper-button {
  font-size: 12.6px; }

.equipment-item {
  margin-bottom: 10pt;
  color: rgba(0, 0, 0, 0.54); }
  .equipment-item core-icon {
    margin-right: 10pt; }

.error {
  border-bottom: 1px solid #F44336; }
  .error::shadow #label {
    color: #F44336; }

uqlibrary-date-selector /deep/ .selectedDate {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0; }
uqlibrary-date-selector /deep/ paper-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  height: 60px;
  box-shadow: none; }
  uqlibrary-date-selector /deep/ paper-tabs paper-tab .tabTitleNumber {
    margin-bottom: 4px; }
  uqlibrary-date-selector /deep/ paper-tabs paper-tab::shadow #ink {
    color: #ffffff; }
  uqlibrary-date-selector /deep/ paper-tabs paper-tab .dayOfWeek {
    text-align: center;
    width: 40px; }
  uqlibrary-date-selector /deep/ paper-tabs paper-tab .date {
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    padding-top: 12px; }
  uqlibrary-date-selector /deep/ paper-tabs paper-tab.core-selected .date {
    background-color: #007e9e;
    color: #ffffff; }

uqlibrary-time-selector /deep/ .items {
  margin: 0 10px;
  list-style-type: none;
  font-size: 0;
  line-height: 0; }
  uqlibrary-time-selector /deep/ .items paper-button.item {
    text-align: center;
    display: inline-block;
    margin: 1px;
    min-width: 30px;
    width: 71px;
    padding: 15px 1px;
    font-size: 12px;
    line-height: 1.1;
    text-transform: uppercase;
    background-color: #EEEEEE; }
    uqlibrary-time-selector /deep/ .items paper-button.item.occupied-true {
      background-color: #BDBDBD;
      color: #ffffff; }
    uqlibrary-time-selector /deep/ .items paper-button.item.selected-true {
      background-color: #007e9e;
      color: #ffffff; }

uqlibrary-holds::shadow uqlibrary-borrowing-list::shadow .date {
  padding-top: 20px; }

uqlibrary-fines::shadow uqlibrary-borrowing-list::shadow .title {
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: #7b0c9d; }
uqlibrary-fines::shadow uqlibrary-borrowing-list::shadow .content {
  margin-left: 64px; }

.attentionIcon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding-left: 16px;
  height: 32px;
  overflow: hidden;
  width: 100%; }
  .attentionIcon paper-icon {
    width: 24px;
    height: 24px; }

#availability {
  margin-top: 8px;
  padding: 16px; }

#branchSelect {
  padding: 7px;
  width: 100%; }

#branches {
  width: 100%; }

.available {
  color: #38852e; }

.unavailable {
  color: #ce4627; }

paper-dropdown::shadow #scroller {
  width: 100% !important; }

#branchWrapper {
  width: 96%;
  margin: 8px;
  transition: 300ms ease-in-out;
  padding: 6px; }

.availability-item {
  border-bottom: 1px solid #F5F5F5;
  padding: 4px;
  line-height: 1.2; }
  .availability-item .totals {
    float: right;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.54); }

.listItemSection.listItemTitle {
  padding-bottom: 16px; }
.listItemSection.listItemAuthor {
  font-style: italic;
  padding-bottom: 16px; }
.listItemSection.listItemType {
  color: #7b0c9d;
  font-style: italic; }
.listItemSection.listItemNotes {
  font-style: italic;
  padding-bottom: 16px; }
.listItemSection.listItemNoResultsMessage {
  font-style: italic; }

.listItemLink core-icon {
  margin-right: 0; }

#feedbackCard {
  padding: 18px 32px; }
  @media screen and (min-width: 768px) {
    #feedbackCard {
      width: 86%; } }
  @media screen and (max-width: 768px) {
    #feedbackCard {
      width: 100%;
      margin: 0; } }

#feedbackCard core-tooltip {
  display: flex; }

#feedbackCard paper-checkbox {
  margin: 0 20px 0 0; }

#feedbackCard paper-input-decorator {
  margin-bottom: 20px; }

#feedbackCard #feedbackButtons {
  margin-top: 24px; }

.open {
  color: #38852e !important; }

.closed {
  color: #ce4627 !important; }

.list-margin {
  margin-bottom: 38px; }

paper-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2); }
  paper-tabs::shadow #selectionBar {
    background-color: #8db800; }
  paper-tabs paper-tab .tabTitleNumber {
    margin-bottom: 4px; }
  paper-tabs paper-tab::shadow #ink {
    color: #8db800; }
  paper-tabs paper-tab .dayOfWeek {
    width: 40px; }
  paper-tabs paper-tab .date {
    height: 40px;
    width: 40px;
    font-size: 1.14286em;
    text-align: center;
    border-radius: 50%;
    padding-top: 12px; }
  paper-tabs paper-tab.core-selected .date {
    background-color: #007e9e;
    color: #ffffff; }

.masqueradeCard {
  padding: 18px 32px; }
  @media screen and (min-width: 768px) {
    .masqueradeCard {
      width: 86%; } }
  @media screen and (max-width: 768px) {
    .masqueradeCard {
      width: 100%;
      margin: 0; } }

.masqueradeCard core-tooltip {
  display: flex; }

.masqueradeCard paper-checkbox {
  margin: 0 20px 0 0; }

.masqueradeCard paper-input-decorator {
  margin-bottom: 20px; }

.masqueradeCard #masqueradeButton {
  margin-top: 24px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-nowrap {
  white-space: nowrap; }

.image-header {
  background-color: #7b0c9d;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 150px; }
  .image-header .title-container {
    background-color: rgba(123, 12, 157, 0.7);
    padding: 16px; }

.text-container {
  padding: 16px; }

.persistent-footer {
  position: fixed;
  height: 48px;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #cccccc; }
  .persistent-footer .text-container {
    padding: 16px;
    padding-right: 0px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.85714em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.54); }
  .persistent-footer .buttons-container {
    padding-right: 16px; }
  .persistent-footer.inverse {
    background-color: #7b0c9d; }
    .persistent-footer.inverse .text-container {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(255, 255, 255, 0.54); }

.body-footer-container {
  padding-bottom: 48px; }

.hint-box {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #cccccc;
  vertical-align: middle; }
  .hint-box.selected {
    background-color: #007e9e; }
  .hint-box.available {
    background-color: #EEEEEE; }
  .hint-box.unavailable {
    background-color: #BDBDBD; }

paper-input-decorator::shadow .focused-underline {
  background-color: #007e9e; }

paper-input-decorator /deep/ .focused-underline {
  background-color: #007e9e; }

paper-checkbox::shadow #ink[checked] {
  color: #007e9e; }

paper-checkbox::shadow #checkbox.checked {
  border-color: #007e9e;
  background-color: #007e9e; }

paper-checkbox::shadow #ink {
  color: #cccccc; }

paper-checkbox::shadow #checkbox {
  border-color: #cccccc; }

paper-fab {
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #007e9e; }
  paper-fab:hover {
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #006680;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3); }
  paper-fab.bottom-fixed {
    bottom: 16px;
    position: fixed;
    right: 16px; }
  paper-fab core-icon {
    color: #ffffff; }

paper-button.colored {
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #007e9e; }
  paper-button.colored:hover {
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #006680; }

paper-button[raised].colored {
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #007e9e;
  color: #ffffff; }
  paper-button[raised].colored:hover {
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #006680;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3); }
  paper-button[raised].colored:active {
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #00566b;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3); }
  paper-button[raised].colored:disabled {
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #cccccc; }

paper-button[raised] {
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1); }
  paper-button[raised]:hover {
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3); }

paper-button[disabled] {
  background-color: #FAFAFA;
  color: #cccccc; }
  paper-button[disabled].colored {
    background-color: #FAFAFA;
    color: #cccccc; }

body {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  margin: 0;
  background-color: #fafafa; }

/*# sourceMappingURL=app.css.map */
