@font-face {
  font-family: 'Roboto light';
  font-style: normal;
  font-weight: 200;
  src: url("Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: 'Roboto regular';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Roboto medium';
  font-style: normal;
  font-weight: 500;
  src: url("Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Roboto bold';
  font-style: normal;
  font-weight: 700;
  src: url("Roboto-Bold.woff") format("woff");
}
/* line 93, _typography.scss */
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

/* line 97, _typography.scss */
.inverse a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

/* line 101, _typography.scss */
h1 {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54);
}

/* line 105, _typography.scss */
h1.inverse {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

/* line 109, _typography.scss */
h2 {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54);
}

/* line 113, _typography.scss */
h2.inverse {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: white;
}

/* line 117, _typography.scss */
h3 {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
}

/* line 121, _typography.scss */
h3.inverse {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: white;
}

/* line 125, _typography.scss */
h4 {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
}

/* line 129, _typography.scss */
h4.inverse {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: white;
}

/* line 133, _typography.scss */
.headline {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}

/* line 137, _typography.scss */
.headline.inverse {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87);
}

/* line 141, _typography.scss */
.title {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}

/* line 145, _typography.scss */
.title.inverse {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87);
}

/* line 149, _typography.scss */
.subhead {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}

/* line 153, _typography.scss */
.subhead.inverse {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87);
}

/* line 157, _typography.scss */
.body2 {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}

/* line 161, _typography.scss */
.body2.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87);
}

/* line 165, _typography.scss */
.body1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}

/* line 169, _typography.scss */
.body1.inverse {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87);
}

/* line 173, _typography.scss */
.caption {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
}

/* line 177, _typography.scss */
.caption.inverse {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.54);
}

/* line 181, _typography.scss */
.menu {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}

/* line 185, _typography.scss */
.menu.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87);
}

/* line 189, _typography.scss */
.button {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}

/* line 193, _typography.scss */
.button.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87);
}

/* line 197, _typography.scss */
.link {
  text-decoration: none;
  color: rgba(40, 116, 215, 0.87);
}

/* line 36, _lists.scss */
.single-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 39, _lists.scss */
.single-line-list .gap {
  padding: 0;
  height: 8px;
}
/* line 43, _lists.scss */
.single-line-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 48, _lists.scss */
.single-line-list .list-item {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 56, _lists.scss */
.single-line-list .list-item .content {
  padding-top: 16px;
  padding-bottom: 20px;
  margin-right: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 64, _lists.scss */
.single-line-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 68, _lists.scss */
.single-line-list .list-item:last-child {
  padding-bottom: 28px;
}

/* line 74, _lists.scss */
.single-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 77, _lists.scss */
.single-line-icon-list .gap {
  padding: 0;
  height: 8px;
}
/* line 81, _lists.scss */
.single-line-icon-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 86, _lists.scss */
.single-line-icon-list .list-item {
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 94, _lists.scss */
.single-line-icon-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 98, _lists.scss */
.single-line-icon-list .list-item:last-child {
  padding-bottom: 32px;
}
/* line 102, _lists.scss */
.single-line-icon-list .list-item .avatar {
  margin-top: 5.5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 106, _lists.scss */
.single-line-icon-list .list-item .content {
  padding-top: 20px;
  padding-bottom: 24px;
  margin-left: 56px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 115, _lists.scss */
.single-line-icon-list .list-item .icon {
  width: 28px;
  padding-left: 16px;
  float: right;
}

/* line 124, _lists.scss */
.two-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 127, _lists.scss */
.two-line-list .gap {
  padding: 0;
  height: 8px;
}
/* line 131, _lists.scss */
.two-line-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 136, _lists.scss */
.two-line-list .list-item {
  height: 72px;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 141, _lists.scss */
.two-line-list .list-item .content {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 145, _lists.scss */
.two-line-list .list-item .content .line1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 150, _lists.scss */
.two-line-list .list-item .content .line2 {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 156, _lists.scss */
.two-line-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 160, _lists.scss */
.two-line-list .list-item:last-child {
  padding-bottom: 28px;
}

/* line 166, _lists.scss */
.two-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 169, _lists.scss */
.two-line-icon-list .gap {
  padding: 0;
  height: 8px;
}
/* line 173, _lists.scss */
.two-line-icon-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 178, _lists.scss */
.two-line-icon-list .list-item {
  height: 72px;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 184, _lists.scss */
.two-line-icon-list .list-item .avatar {
  margin-top: 13.5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 188, _lists.scss */
.two-line-icon-list .list-item .icon {
  width: 28px;
  padding-left: 16px;
  margin-top: -52px;
  float: right;
}
/* line 194, _lists.scss */
.two-line-icon-list .list-item .content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 56px;
}
/* line 200, _lists.scss */
.two-line-icon-list .list-item .content .line1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 205, _lists.scss */
.two-line-icon-list .list-item .content .line2 {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 211, _lists.scss */
.two-line-icon-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 215, _lists.scss */
.two-line-icon-list .list-item:last-child {
  padding-bottom: 28px;
}

/* line 221, _lists.scss */
.three-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 224, _lists.scss */
.three-line-list .gap {
  padding: 0;
  height: 8px;
}
/* line 228, _lists.scss */
.three-line-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 233, _lists.scss */
.three-line-list .list-item {
  height: 72px;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 238, _lists.scss */
.three-line-list .list-item .content {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 242, _lists.scss */
.three-line-list .list-item .content .line1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 247, _lists.scss */
.three-line-list .list-item .content .line2 {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 252, _lists.scss */
.three-line-list .list-item .content .line3 {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 258, _lists.scss */
.three-line-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 262, _lists.scss */
.three-line-list .list-item:last-child {
  padding-bottom: 28px;
}

/* line 268, _lists.scss */
.three-line-text-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 271, _lists.scss */
.three-line-text-list .gap {
  padding: 0;
  height: 8px;
}
/* line 275, _lists.scss */
.three-line-text-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 280, _lists.scss */
.three-line-text-list .list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 88px;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 288, _lists.scss */
.three-line-text-list .list-item .content {
  height: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 297, _lists.scss */
.three-line-text-list .list-item .content .line1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 302, _lists.scss */
.three-line-text-list .list-item .content .text {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 307, _lists.scss */
.three-line-text-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 311, _lists.scss */
.three-line-text-list .list-item:last-child {
  padding-bottom: 28px;
}

/* line 317, _lists.scss */
.three-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 320, _lists.scss */
.three-line-icon-list .gap {
  padding: 0;
  height: 8px;
}
/* line 324, _lists.scss */
.three-line-icon-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 330, _lists.scss */
.three-line-icon-list .list-divider.timeline .line:before {
  content: '\2022';
  font-size: 3.1em;
  margin: 0 0 0 -12px;
  vertical-align: middle;
  display: inline-block;
  height: 0px;
  color: #7b0c9d;
}
/* line 340, _lists.scss */
.three-line-icon-list .list-divider.timeline .line {
  line-height: 0.625em;
  border-bottom: 1px solid #7b0c9d;
  margin: -9px 0 9px 66px;
}
/* line 347, _lists.scss */
.three-line-icon-list .list-item {
  height: 88px;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 353, _lists.scss */
.three-line-icon-list .list-item .avatar {
  margin-top: 21.5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 16px;
}
/* line 358, _lists.scss */
.three-line-icon-list .list-item .icon {
  width: 28px;
  padding-left: 16px;
  margin-top: -72px;
  float: right;
}
/* line 365, _lists.scss */
.three-line-icon-list .list-item.timeline .date {
  height: 45px;
  width: 45px;
  float: left;
}
/* line 370, _lists.scss */
.three-line-icon-list .list-item.timeline .date .title {
  color: #7b0c9d;
}
/* line 375, _lists.scss */
.three-line-icon-list .list-item.timeline .content {
  background-color: #EEEEEE;
  border-radius: 2px;
  padding-left: 16px;
}
/* line 381, _lists.scss */
.three-line-icon-list .list-item .content {
  padding-top: 16px;
  padding-bottom: 20px;
  margin-left: 56px;
}
/* line 387, _lists.scss */
.three-line-icon-list .list-item .content .line1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 392, _lists.scss */
.three-line-icon-list .list-item .content .line2 {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 397, _lists.scss */
.three-line-icon-list .list-item .content .line3 {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 403, _lists.scss */
.three-line-icon-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 407, _lists.scss */
.three-line-icon-list .list-item:last-child {
  padding-bottom: 32px;
}

/* line 413, _lists.scss */
.three-line-text-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 416, _lists.scss */
.three-line-text-icon-list .gap {
  padding: 0;
  height: 8px;
}
/* line 420, _lists.scss */
.three-line-text-icon-list .border {
  border: 1px solid #cccccc;
  border-width: 0 0 1px 0;
}
/* line 425, _lists.scss */
.three-line-text-icon-list .list-item {
  height: 88px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 432, _lists.scss */
.three-line-text-icon-list .list-item .avatar {
  margin-top: 21.5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 16px;
}
/* line 437, _lists.scss */
.three-line-text-icon-list .list-item .icon {
  width: 28px;
  padding-left: 16px;
  margin-top: -72px;
  float: right;
}
/* line 444, _lists.scss */
.three-line-text-icon-list .list-item .content {
  height: 48px;
  margin-left: 56px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 445, _lists.scss */
.three-line-text-icon-list .list-item .content .line1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 450, _lists.scss */
.three-line-text-icon-list .list-item .content .text {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 465, _lists.scss */
.three-line-text-icon-list .list-item.header {
  font-family: "Roboto bold";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 16px;
}
/* line 469, _lists.scss */
.three-line-text-icon-list .list-item:last-child {
  padding-bottom: 28px;
}

/* line 6, _cards.scss */
.card {
  display: block;
  border-radius: 2px;
  box-sizing: border-box;
  height: auto;
  background: #ffffff;
  width: 320px;
  margin: 16px auto;
}
/* line 15, _cards.scss */
.card .cardSection {
  border-bottom: 1px solid #cccccc;
  padding: 16px;
  display: block;
}

/* line 3, _core.scss */
core-icon {
  color: rgba(0, 0, 0, 0.54);
}
/* line 6, _core.scss */
core-icon.inactive {
  color: rgba(0, 0, 0, 0.26);
}
/* line 9, _core.scss */
core-icon.active-inverse {
  color: white;
}
/* line 12, _core.scss */
core-icon.inactive-inverse {
  color: rgba(255, 255, 255, 0.3);
}

/* line 18, _core.scss */
core-menu core-icon {
  margin-right: 2em;
}

/* line 23, _core.scss */
core-toolbar {
  background-color: #ffffff;
}
/* line 26, _core.scss */
core-toolbar core-icon {
  color: #ffffff;
}

/* line 31, _core.scss */
core-drawer-panel {
  background-color: #ffffff;
}

/* line 35, _core.scss */
core-header-panel {
  background-color: #ffffff;
}

/* line 39, _core.scss */
core-toolbar {
  background-color: #7b0c9d;
  border-bottom: 1px solid #49075E;
  color: rgba(255, 255, 255, 0.87);
}

/* line 45, _core.scss */
core-menu {
  margin: 0;
}

/* line 5, _containers.scss */
.text-center {
  text-align: center;
}

/* line 9, _containers.scss */
.text-left {
  text-align: left;
}

/* line 13, _containers.scss */
.text-right {
  text-align: right;
}

/* line 17, _containers.scss */
.text-nowrap {
  white-space: nowrap;
}

/* line 21, _containers.scss */
.image-header {
  background-color: #7b0c9d;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 150px;
}
/* line 27, _containers.scss */
.image-header .title-container {
  background-color: rgba(123, 12, 157, 0.7);
  padding: 16px;
}

/* line 33, _containers.scss */
.text-container {
  padding: 16px;
}

/* line 37, _containers.scss */
.persistent-footer {
  position: fixed;
  height: 48px;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #cccccc;
}
/* line 45, _containers.scss */
.persistent-footer .text-container {
  padding: 16px;
  padding-right: 0px;
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 51, _containers.scss */
.persistent-footer .buttons-container {
  padding-right: 16px;
}
/* line 55, _containers.scss */
.persistent-footer.inverse {
  background-color: #7b0c9d;
}
/* line 58, _containers.scss */
.persistent-footer.inverse .text-container {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.54);
}

/* line 65, _containers.scss */
.body-footer-container {
  margin-bottom: 48px;
}

/* line 69, _containers.scss */
.hint-box {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #cccccc;
  vertical-align: middle;
}
/* line 76, _containers.scss */
.hint-box.selected {
  background-color: #007e9e;
}
/* line 80, _containers.scss */
.hint-box.available {
  background-color: #EEEEEE;
}
/* line 84, _containers.scss */
.hint-box.unavailable {
  background-color: #BDBDBD;
}

/* line 9, app.scss */
body {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  margin: 0;
  background-color: #fafafa;
}

/* line 18, app.scss */
.sg-colors {
  padding: 16px;
  margin: 16px;
  height: 300px;
}
/* line 22, app.scss */
.sg-colors li {
  list-style: none;
  float: left;
  border: 1px solid #dddddd;
  padding: 16px;
  margin: 16px;
}

/* line 30, app.scss */
#primary-alt {
  background-color: #4a075f;
  padding: 20px;
}

/* line 34, app.scss */
#primary {
  background-color: #7b0c9d;
  padding: 20px;
}

/* line 38, app.scss */
#accent-alt {
  background-color: #38852e;
  padding: 20px;
}

/* line 42, app.scss */
#accent {
  background-color: #8db800;
  padding: 20px;
}

/* line 46, app.scss */
#uq-gold {
  background-color: #bda14c;
  padding: 20px;
}

/* line 50, app.scss */
#uq-gold-alt {
  background-color: #8a7433;
  padding: 20px;
}

/* line 54, app.scss */
#uq-red {
  background-color: #a80041;
  padding: 20px;
}

/* line 58, app.scss */
#uq-warm-red {
  background-color: #ce4627;
  padding: 20px;
}

/* line 62, app.scss */
#link {
  background-color: #2874d7;
  padding: 20px;
}

/* line 66, app.scss */
#link-alt {
  background-color: #e8e8e8;
  padding: 20px;
}

/* line 70, app.scss */
#text {
  padding: 20px;
  background-color: #333333;
}

/* line 74, app.scss */
#text-alt {
  padding: 20px;
  background-color: #757575;
}

/* line 78, app.scss */
#divider {
  padding: 20px;
  background-color: #cccccc;
}

/* line 82, app.scss */
#background {
  padding: 20px;
  background-color: #FAFAFA;
}

/* line 86, app.scss */
#background-alt {
  padding: 20px;
  background-color: #ffffff;
}
