@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url("Roboto-Light.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("Roboto-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("Roboto-Bold.woff") format("woff"); }
:host,
:host *,
::content * {
  box-sizing: border-box;
  outline: none; }

#iconPopupView {
  position: relative; }
  #iconPopupView #iconWrapper {
    position: relative;
    width: 40px;
    border-radius: 50%; }
    #iconPopupView #iconWrapper #newMessagesCount {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #f44336;
      color: rgba(255, 255, 255, 0.87);
      text-align: center;
      font-size: 10px;
      padding-top: 0px; }
  #iconPopupView #notificationsPopup {
    width: 250px;
    max-height: 300px;
    padding: 5px;
    z-index: 5000;
    position: fixed; }
    #iconPopupView #notificationsPopup.arrow:before {
      border: solid;
      border-color: white transparent;
      border-width: 0 5px 5px 5px;
      content: "";
      display: block;
      top: 0px;
      position: absolute;
      z-index: 99; }
    #iconPopupView #notificationsPopup.arrow.right-arrow:before {
      right: 32px; }
    #iconPopupView #notificationsPopup.arrow.left-arrow:before {
      left: 16px; }
