@import "../uqlibrary-elements/resources/theme/element";

$timepickerRatio: 0.9;
$mainColor: $teal-500;
$inputColor: $secondary-text;
$textColor: $secondary-text;

:host {
  font-size: 10pt;
  width: 100%;
}

.filterWrapper {
  background-color: $white;

}

uqlibrary-filter-group {
  padding-right: 20pt;


  div.groupContentWrapper[horizontal] {
    paper-dropdown-menu {
      min-width: 150px;
      margin-right: 20px;
      &:last-child{
        margin-right: 0px;
      }
    }
  }

}

paper-dropdown-menu {
  display: block;
  width: 100%;

  paper-dropdown {
    paper-item {
      &:hover {
        background-color: $grey-A100;
      }
    }
  }
}



paper-input {
  display: block;
  &::shadow {
    input {
      color: $inputColor;
    }
  }
  &#time{
    display: block;
    width: 100%;
  }

}

md-timepicker {
  &::shadow {
    #card {
      border: 1px solid $grey-A100;
      margin-top: 0pt;
      margin-bottom: 0pt;
      height: 400px * $timepickerRatio;
      width: 250px * $timepickerRatio;

      #display {
        background-color: $mainColor !important;
        height: 120px * $timepickerRatio;
        padding: 24px * $timepickerRatio;
        color: $white;
        font-size: 46px * $timepickerRatio;
        .digit{
          opacity: 0.7;
          &[active] {
            opacity: 1;
          }
        }
      }

      #keypad {
        font-size: 42px * $timepickerRatio;

        .digit {
          flex-basis: 63px * $timepickerRatio;
          -webkit-flex-basis: 63px * $timepickerRatio;
        }

      }
    }



  }
}

paper-slider {
  width: 100%;
  &::shadow {
    #sliderBar {
      box-sizing: content-box;
      &::shadow {
        #activeProgress {
          background-color: $mainColor;
        }
      }
    }

    #sliderKnobInner {
      background-color: $mainColor;

      &::before {
        background-color: $mainColor;
        display: block !important;
      }

      &::after {
      }

    }

  }
  &#timePeriod {
    width: 50%;
  }

  &#capacity {

  }
}

.sliderWrapper {
  color: $text;
  margin-top: 20pt;
}

paper-checkbox {
  &::shadow {
    #checkbox {
      &.checked {
        border-color: $mainColor;
      }
    }
  }
}


.equipment-item {
  margin-bottom: 10pt;
  color: $textColor;
  core-icon {
    margin-right: 10pt;
  }

}

.buttonWrapper {
  padding: 10pt 20pt 40pt 20pt;
  position: relative;
  paper-fab#applyButton {
    background-color: $green;
    color: $white;
  }
}

paper-toast {
  &#infoToast {
    position: fixed;
  }
}

.error {
  border-bottom: 1px solid $error-color;
  &::shadow {
    #label {
      color: $error-color;
    }
  }
}

core-overlay {

  &#timepickerDialog::shadow {
    #actions {
      display: none;
    }
    #main {
      padding: 0px;
    }
  }
}


