@import "../uqlibrary-elements/resources/theme/variables";
@import "../uqlibrary-elements/resources/theme/margins";



//    ____
//   / ___|___          ___
//  | |   / _ \        / __|
//  | |___ (_) | ntact \__ \
//   \____\___/        |___/
//
// UQ My Library Contacts app

uqlibrary-contacts {
  &.listItemTitle {
    padding-bottom: $single-line-list-item-padding-top;
  }
  &.listItemAuthor {
    font-style: italic;
    padding-bottom: $single-line-list-item-padding-top;
  }
  &.listItemType {
    color: $primary;
    font-style: italic;
  }
  &.listItemNotes {
    font-style: italic;
    padding-bottom: $single-line-list-item-padding-top;
  }
  &.listItemNoResultsMessage {
    font-style: italic;
  }
}
