a {
  text-decoration: none;
  color: #007e9e; }

.inverse a {
  text-decoration: none;
  color: white; }

h1 {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h1.inverse {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white; }

h2 {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h2.inverse {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: white; }

h3 {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h3.inverse {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: white; }

h4 {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h4.inverse {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: white; }

.headline {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.headline.inverse {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.title {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.title.inverse {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.subhead {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.subhead.inverse {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body2 {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body2.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body1.inverse {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.caption {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

.caption.inverse {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.54); }

.menu {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.menu.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.button {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.button.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.link {
  text-decoration: none;
  color: rgba(0, 126, 158, 0.87); }

core-icon {
  color: rgba(0, 0, 0, 0.54); }
  core-icon.inactive {
    color: rgba(0, 0, 0, 0.26); }
  core-icon.active-inverse {
    color: white; }
  core-icon.inactive-inverse {
    color: rgba(255, 255, 255, 0.3); }

core-menu {
  margin: 0; }
  core-menu core-icon {
    margin-right: 2em; }

core-toolbar {
  background-color: #ffffff; }
  core-toolbar core-icon {
    color: #ffffff; }

core-drawer-panel {
  background-color: #ffffff; }

core-header-panel {
  background-color: #FAFAFA; }

core-toolbar {
  background-color: #4a075f;
  color: rgba(255, 255, 255, 0.87); }

#drawer {
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

#main {
  background-color: #FAFAFA; }

core-menu {
  margin: 0; }

paper-progress::shadow #activeProgress {
  background-color: #38852e; }

paper-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); }
  paper-tabs::shadow #selectionBar {
    background-color: #8db800; }
  paper-tabs paper-tab .tabTitleNumber {
    margin-bottom: 4px; }
  paper-tabs paper-tab::shadow #ink {
    color: #8db800; }

#askLogout, #askLogout::shadow {
  height: 44px;
  width: 44px;
  fill: #FAFAFA;
  color: #FAFAFA;
  bottom: 8px;
  right: 5px; }

#account {
  font-size: 0.875em;
  background-color: #7b0c9d;
  border-bottom: 1px solid #cccccc; }
  #account core-icon {
    height: 26px;
    width: 26px;
    fill: #FAFAFA;
    color: #FAFAFA; }
  #account #details {
    padding: 110px 14px 14px 14px; }
  #account #name {
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #account #mail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.home-icon {
  width: 44px;
  height: 44px;
  color: #7b0c9d; }

/* Icon Button */
.icon-button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px; }

.icon-button > core-icon {
  margin: 16px;
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.icon-button:hover > core-icon {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

@media screen and (min-width: 768px) {
  .responsiveToolbarButton {
    display: none; } }

core-tooltip.fancy::shadow .core-tooltip {
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

core-tooltip.fancy:hover::shadow .core-tooltip,
core-tooltip.fancy:focus::shadow .core-tooltip {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

uqlibrary-home #account core-icon {
  height: 26px;
  width: 26px;
  color: #FAFAFA; }

.persistentFooter {
  position: fixed;
  height: 48px;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #EEEEEE; }
  .persistentFooter .contentWrapper {
    padding: 0; }
  .persistentFooter .footerInfo {
    padding: 18px; }
  .persistentFooter .footerButtons {
    padding-top: 8px; }
  .persistentFooter .actionButtonsWrapper {
    padding-right: 16px;
    margin-top: 4px; }

.single-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .single-line-list .gap {
    padding: 0;
    height: 8px; }
  .single-line-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .single-line-list .list-item {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Roboto regular";
    font-size: 1em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.87); }
    .single-line-list .list-item .content {
      padding-top: 16px;
      padding-bottom: 20px;
      margin-right: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .single-line-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .single-line-list .list-item:last-child {
      padding-bottom: 28px; }

.single-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .single-line-icon-list .gap {
    padding: 0;
    height: 8px; }
  .single-line-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .single-line-icon-list .list-item {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Roboto regular";
    font-size: 1em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.87); }
    .single-line-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .single-line-icon-list .list-item:last-child {
      padding-bottom: 32px; }
    .single-line-icon-list .list-item .avatar {
      margin-top: 5.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%; }
    .single-line-icon-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 24px;
      margin-left: 56px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .single-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      float: right; }

.two-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .two-line-list .gap {
    padding: 0;
    height: 8px; }
  .two-line-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .two-line-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .two-line-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px; }
      .two-line-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .two-line-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .two-line-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .two-line-list .list-item:last-child {
      padding-bottom: 28px; }

.two-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .two-line-icon-list .gap {
    padding: 0;
    height: 8px; }
  .two-line-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .two-line-icon-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .two-line-icon-list .list-item .avatar {
      margin-top: 13.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%; }
    .two-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -52px;
      float: right; }
    .two-line-icon-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 56px; }
      .two-line-icon-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .two-line-icon-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .two-line-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .two-line-icon-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-list .list-item {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-list .list-item .content {
      padding-top: 20px;
      padding-bottom: 20px; }
      .three-line-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-list .list-item .content .line3 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .three-line-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-text-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-text-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-text-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-text-list .list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 88px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-text-list .list-item .content {
      height: 48px;
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .three-line-text-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-text-list .list-item .content .text {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54); }
    .three-line-text-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-text-list .list-item:last-child {
      padding-bottom: 28px; }

.three-line-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-icon-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-icon-list .list-divider.timeline .line:before {
    content: '\2022';
    font-size: 3.1em;
    margin: 0 0 0 -12px;
    vertical-align: middle;
    display: inline-block;
    height: 0px;
    color: #7b0c9d; }
  .three-line-icon-list .list-divider.timeline .line {
    line-height: 0.625em;
    border-bottom: 1px solid #7b0c9d;
    margin: -9px 0 9px 66px; }
  .three-line-icon-list .list-item {
    height: 88px;
    padding-left: 16px;
    padding-right: 16px; }
    .three-line-icon-list .list-item .avatar {
      margin-top: 21.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%;
      margin-top: 16px; }
    .three-line-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -72px;
      float: right; }
    .three-line-icon-list .list-item.timeline .date {
      height: 45px;
      width: 45px;
      float: left; }
      .three-line-icon-list .list-item.timeline .date .title, .three-line-icon-list .list-item.timeline .date .headline {
        color: #7b0c9d; }
    .three-line-icon-list .list-item.timeline .content {
      background-color: #EEEEEE;
      border-radius: 2px;
      padding-left: 16px; }
    .three-line-icon-list .list-item .content {
      padding-top: 16px;
      padding-bottom: 20px;
      margin-left: 56px; }
      .three-line-icon-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-icon-list .list-item .content .line2 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-icon-list .list-item .content .line3 {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .three-line-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-icon-list .list-item:last-child {
      padding-bottom: 32px; }

.three-line-text-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .three-line-text-icon-list .gap {
    padding: 0;
    height: 8px; }
  .three-line-text-icon-list .border {
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0; }
  .three-line-text-icon-list .list-item {
    height: 88px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .three-line-text-icon-list .list-item .avatar {
      margin-top: 21.5px;
      border-radius: 50%;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      float: left;
      background-size: cover;
      background-position: 50% 50%;
      margin-top: 16px; }
    .three-line-text-icon-list .list-item .icon {
      width: 28px;
      padding-left: 16px;
      margin-top: -72px;
      float: right; }
    .three-line-text-icon-list .list-item .content {
      height: 48px;
      margin-left: 56px;
      margin-right: 16px;
      margin-top: 16px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .three-line-text-icon-list .list-item .content .line1 {
        font-family: "Roboto regular";
        font-size: 1em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .three-line-text-icon-list .list-item .content .text {
        font-family: "Roboto regular";
        font-size: 0.85714em;
        line-height: 1.1em;
        color: rgba(0, 0, 0, 0.54); }
    .three-line-text-icon-list .list-item.header {
      font-family: "Roboto bold";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.54);
      padding-top: 16px; }
    .three-line-text-icon-list .list-item:last-child {
      padding-bottom: 28px; }

paper-fab {
  background-color: #007e9e; }
  paper-fab.bottom-fixed {
    bottom: 16px;
    position: fixed;
    right: 16px; }
  paper-fab core-icon {
    color: #ffffff; }

paper-button.colored {
  color: #007e9e; }

paper-button[raised].colored {
  background: #007e9e;
  color: #ffffff; }
  paper-button[raised].colored:hover {
    background-color: #006680; }
  paper-button[raised].colored:active {
    background-color: #00566b; }
  paper-button[raised].colored:disabled {
    background-color: #FAFAFA;
    color: #cccccc; }

paper-button[disabled] {
  background-color: #FAFAFA;
  color: #cccccc; }
  paper-button[disabled].colored {
    background-color: #FAFAFA;
    color: #cccccc; }

.card {
  display: block;
  border-radius: 2px;
  box-sizing: border-box;
  height: auto;
  background: #ffffff;
  width: 320px;
  margin: 16px auto; }
  .card .cardSection {
    border-bottom: 1px solid #cccccc;
    padding: 16px;
    display: block; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-nowrap {
  white-space: nowrap; }

.image-header {
  background-color: #7b0c9d;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 150px; }
  .image-header .title-container {
    background-color: rgba(123, 12, 157, 0.7);
    padding: 16px; }

.text-container {
  padding: 16px; }

.persistent-footer {
  position: fixed;
  height: 48px;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #cccccc; }
  .persistent-footer .text-container {
    padding: 16px;
    padding-right: 0px;
    font-family: "Roboto regular";
    font-size: 0.85714em;
    line-height: 1.1em;
    color: rgba(0, 0, 0, 0.54); }
  .persistent-footer .buttons-container {
    padding-right: 16px; }
  .persistent-footer.inverse {
    background-color: #7b0c9d; }
    .persistent-footer.inverse .text-container {
      font-family: "Roboto regular";
      font-size: 0.85714em;
      line-height: 1.1em;
      color: rgba(255, 255, 255, 0.54); }

.body-footer-container {
  padding-bottom: 48px; }

.hint-box {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #cccccc;
  vertical-align: middle; }
  .hint-box.selected {
    background-color: #007e9e; }
  .hint-box.available {
    background-color: #EEEEEE; }
  .hint-box.unavailable {
    background-color: #BDBDBD; }

paper-input-decorator::shadow .focused-underline {
  background-color: #007e9e; }

paper-input-decorator /deep/ .focused-underline {
  background-color: #007e9e; }

paper-checkbox::shadow #ink[checked] {
  color: #007e9e; }

paper-checkbox::shadow #checkbox.checked {
  border-color: #007e9e;
  background-color: #007e9e; }

paper-checkbox::shadow #ink {
  color: #cccccc; }

paper-checkbox::shadow #checkbox {
  border-color: #cccccc; }

:host,
:host *,
::content * {
  box-sizing: border-box;
  outline: none; }

:host {
  position: relative; }

.wrapper {
  position: relative; }
  .wrapper paper-item {
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    border-bottom: 1px solid #BDBDBD;
    max-height: 55px;
    position: relative;
    background: #ffffff; }
    .wrapper paper-item:hover {
      background: #F5F5F5; }
    .wrapper paper-item.new {
      background: #F5F5F5; }
    .wrapper paper-item .imageWrapper {
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      margin-right: 10px; }
  .wrapper .markAsRead {
    position: absolute;
    top: 0px;
    right: 4px;
    color: #BDBDBD;
    cursor: pointer; }
    .wrapper .markAsRead core-icon {
      width: 12px;
      height: 12px; }
      .wrapper .markAsRead core-icon:hover {
        color: #616161; }

/*# sourceMappingURL=uqlibrary-notification-item.css.map */
