@import "../uqlibrary-elements/resources/theme/element";

paper-tabs {
  height: 64px;
  background-color: $teal-500;
  &::shadow #selectionBar {
    background-color: $uq-purple-1000;
  }
  paper-tab {
    .tabTitleNumber {
      margin-bottom: 4px;
    }

    .tabTitle {
    }

  }
}
.footer-info {
  core-icon {
    width :16px;
  }
}

.with-persistent-footer{
  margin-bottom: $persistent-footer-height;
}