@import "../uqlibrary-elements/resources/theme/element";

paper-tabs {
  //height: 64px;
  color: $text-primary;
  &::shadow #selectionBar {
    background-color: $highlight-secondary;
  }
  paper-tab {
    .tabTitleNumber {
      margin-bottom: 4px;
    }
  }
}

.with-persistent-footer{
  margin-bottom: $persistent-footer-height;
}