@import "../uqlibrary-elements/resources/theme/element";

:host {
}

core-menu {
  padding: 8px 0;
  margin: 0;

  &.divider {
    border-bottom: 1px solid $grey-A100;
  }
}

paper-item {
  font-size: 0.875em;
  color: $text;

  core-icon {
    margin-right: 2em;
  }

  a {
    text-decoration: none;
    color: $text !important;
  }
}

#account {
  padding: 8px;
  font-size: 0.875em;
  color: $text-inverse;
  background-color: $primary-500;
  border-bottom: 1px solid $grey-A100;

  core-icon {
    height: 64px;
    width: 64px;
  }

  #details {
    padding: 14px;
  }

  #name {
    font-weight: 400;
    margin-bottom: 2px;
  }

  #mail {
  }
}