* {
  transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1); }

.turnWhite {
  background: white; }

core-toolbar {
  background: #4a075f;
  color: white; }
  @media (min-width: 769px) {
    core-toolbar #hamburgerMenuIcon {
      display: none; } }
  core-toolbar paper-icon-button {
    margin-top: 3px;
    color: white;
    border-radius: 50%; }
    core-toolbar paper-icon-button:hover, core-toolbar paper-icon-button:focus, core-toolbar paper-icon-button:active {
      background-color: rgba(255, 255, 255, 0.12); }
  core-toolbar .applicationName {
    color: white;
    text-decoration: none; }
  core-toolbar .glow {
    color: white;
    cursor: pointer; }
    core-toolbar .glow:hover, core-toolbar .glow:focus, core-toolbar .glow:active {
      text-decoration: none;
      -webkit-filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)); }
  core-toolbar paper-dropdown core-menu {
    margin: 2px; }
    core-toolbar paper-dropdown core-menu paper-item {
      font-size: 14px;
      transition: none; }
      core-toolbar paper-dropdown core-menu paper-item:hover, core-toolbar paper-dropdown core-menu paper-item:focus {
        background-color: rgba(0, 0, 0, 0.05);
        transition: none; }
      core-toolbar paper-dropdown core-menu paper-item a {
        font-size: 16px;
        cursor: pointer;
        color: #333333;
        display: block;
        text-decoration: none; }
  core-toolbar .invisible {
    opacity: 0; }
  core-toolbar #leftFlex paper-icon-button, core-toolbar #rightFlex paper-icon-button, core-toolbar #backArrow paper-icon-button {
    color: #757575; }
    core-toolbar #leftFlex paper-icon-button:hover, core-toolbar #leftFlex paper-icon-button:active, core-toolbar #leftFlex paper-icon-button:focus, core-toolbar #rightFlex paper-icon-button:hover, core-toolbar #rightFlex paper-icon-button:active, core-toolbar #rightFlex paper-icon-button:focus, core-toolbar #backArrow paper-icon-button:hover, core-toolbar #backArrow paper-icon-button:active, core-toolbar #backArrow paper-icon-button:focus {
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.05); }
    core-toolbar #leftFlex paper-icon-button core-icon, core-toolbar #rightFlex paper-icon-button core-icon, core-toolbar #backArrow paper-icon-button core-icon {
      color: #333333; }
  core-toolbar paper-input-decorator {
    color: #333333;
    margin-bottom: 4px; }
    core-toolbar paper-input-decorator::shadow #focusedUnderline {
      background-color: transparent !important; }
    core-toolbar paper-input-decorator /deep/ ::-webkit-input-placeholder {
      /* platform specific rules for placeholder text */
      color: rgba(0, 0, 0, 0.26);
      padding-top: 5px; }
    core-toolbar paper-input-decorator /deep/ ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.26);
      padding-top: 4px; }
    core-toolbar paper-input-decorator /deep/ :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.26);
      padding-top: 4px; }
    core-toolbar paper-input-decorator /deep/ .unfocused-underline {
      /* line color when the input is unfocused */
      background-color: transparent; }

/*# sourceMappingURL=uqlibrary-toolbar.css.map */
