@import "../uqlibrary-elements/resources/theme/element";

:host {
}

.message-box {
  line-height: 48px;
  text-align: center;
}

.event-item {
  transition: opacity 2000ms;
}

.event-item-hidden {
  opacity: 0;
}