@import "../uqlibrary-elements/resources/theme/element";

:host {
}

core-menu {
  padding: 8px 0;
  margin: 0;

  &.divider {
    border-bottom: 1px solid $uq-divider;
  }
}

paper-item {
  @include gmd-type-style(menu, gmd-alpha-color($black, text));
}

#account {
  font-size: 0.875em;
  background-color: $primary;
  border-bottom: 1px solid $uq-divider;
  background: 100%;
  background-size: cover;
  background-image: url("https://uqimages.uq.edu.au/servlet/display?file=a78916e42414ed9e14a030ec2ebb2561bf58c0c99e8996aff179b72c69.jpg");

  #gradient {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%); /* W3C */
  }

  #details {
    padding: 110px 14px 14px 14px;
  }

  #name {
    //    font-weight: 400;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #mail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}