/*
Syntax error: Invalid CSS after "}s": expected "{", was ""
        on line 46 of uqlibrary-menu.scss

41:   #mail {
42:     white-space: nowrap;
43:     text-overflow: ellipsis;
44:     overflow: hidden;
45:   }
46: }s

Backtrace:
uqlibrary-menu.scss:46
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:1312:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:1248:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:1243:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:640:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:634:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:659:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:652:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:116:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/exec.rb:489:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/exec.rb:346:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/exec.rb:43:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/exec.rb:22:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}s\": expected \"{\", was \"\"\A         on line 46 of uqlibrary-menu.scss\A \A 41:   #mail {\A 42:     white-space: nowrap;\A 43:     text-overflow: ellipsis;\A 44:     overflow: hidden;\A 45:   }\A 46: }s"; }
