@import "../uqlibrary-elements/resources/theme/variables";
@import "../uqlibrary-elements/resources/theme/margins";

#apps {
  width: ($base-unit*40);
  margin: $menu-margin;
}

.app {
  text-align: center;
  margin: $base-unit ($base-unit/4);
}

.open-below {
  top: $toolbar-height;
}

@media screen and (max-width: 420px) {
  #apps {
    width: $full-width;
    margin: 0;
  }
}